DB_USERNAME=axon_user
DB_PASSWORD=axon1234
MYSQL_ROOT_PASSWORD=axon
MYSQL_DATABASE=axon_db
REDIS_PASSWORD=axon1234
JWT_SECRET=change-this-jwt-secret
PAYMENT_TOKEN_SECRET=change-this-payment-secret
GEMINI_API_KEY=
ES_JAVA_OPTS=-Xms1g -Xmx1g
ELASTICSEARCH_HOST=elasticsearch
ELASTICSEARCH_PORT=9200
PINPOINT_AGENT_DIR=./pinpoint-agent
CORE_JAVA_TOOL_OPTIONS=
ENTRY_JAVA_TOOL_OPTIONS=
GRAFANA_ADMIN_PASSWORD=admin
